form{
    input[type="text"], input[type="email"], input[type="tel"], textarea{
      padding: 8px 15px;
      color: $blue-light;
      width: 100%;
      border: 2px solid $grey;
      margin: 8px 0;
      @include transition(all 0.2s ease-in);

      &:focus{
        @include transition(all 0.2s ease-in);
        background-color: darken($select-background, 2);
      }
    }
    input.parsley-error{
        //border: 1px solid $redError;
    }
    textarea{
      resize: vertical;
      min-height: 80px;
      
    }
    .parsley-error{
        border: 1px solid $redError;
      }
    label{
        width: 100%;
        display: none;
    }
    .small{
        font-size: 80%;
        a{
            text-decoration: underline;
            &:hover{
                color: $acento;
            }
        }
    }
    p{
      margin: 10px 0 0;
    }
    div.col-sm-6:nth-child(even){
      //background: red;
      //padding-right: 0;
    }
    div.col-sm-6:nth-child(odd){
    //  background: red;
     // padding-left: 0;
    }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $blue-light;
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $blue-light;;opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $blue-light;;opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  color: $blue-light;opacity: 1;
}


/***********
            Validaciones
***************************/

input.parsley-success, select.parsley-success, textarea.parsley-success , .alert-success, .alert-advice, .alert-advice1, .alert-advice3,  .alert-message, .alert-message2{
  color: $white;
  background-color: $green;
  border: 0;
  border-radius: 0;
}

input.parsley-error, select.parsley-error, textarea.parsley-error, .alert-danger {
  h2{
    font-family: $font-medium;
  }
  p{
    font-size: 14px !important;
  }
}
.alert-success, .alert-danger, .alert-advice, .alert-advice1, .alert-advice3,  .alert-message, .alert-message2 {
  text-align: center;
}
.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  &.filled {
    opacity: 1;
    z-index: 500;
    position: relative;
    padding: 5px;
    color: $redError;
    text-align: left;
  }
}

li.parsley-required {
  display: block;
  width: 100%;
  height: 30px;
  background: #81F7F3;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #0B615E;
  padding: 5px;
  border: 2px solid #01DFD7;
  position: absolute;
  z-index: 800;
}



// Selects (dropdowns)
textarea:focus,
input:focus {
  outline: none;
}


.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  margin: 8px 0;
  border: 2px solid $grey;
  color: $select-color;
  width: $select-width;
  height: $select-height;
}
.select-styled {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $select-background;
  padding: 9px 15px;
  @include transition(all 0.2s ease-in);
  &:after {
    content:"";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: $select-color transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }
  &:hover {
    background-color: darken($select-background, 2);
  }
  &:active, &.active {
    background-color: darken($select-background, 5);
    &:after {
      top: 9px;
      border-color: transparent transparent $select-color transparent;
    }
  }
}

.select-options {
  display: none; 
  position: absolute;
  max-height: 250px;
  overflow: auto;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: darken($select-background, 5);
  li {
    margin: 0;
    padding: 2px 0;
    font-size: 13px;
    text-indent: 15px;
    border-top: 1px solid darken($select-background, 10);
    @include transition(all 0.15s ease-in);
    &:hover {
      color: $select-background;
      background: $select-color;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}